body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.tipCircle:hover{
  fill-opacity: 0;
  stroke-width: 20px;
  stroke-opacity: .5;
}

.tipCircle{
  transition: stroke-width 250ms linear;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}